<h1> DevPoint SuperStore! </h1>
<hr />
<h4> Come here for all your CamelCase needs! </h4>
<p> We've got all the hottest new languages around. Feel free to browse, even add an item or two! </p>
<hr />
<h2> <%= link_to 'See All Departments', departments_path %> </h2>